@model Moments.Models.Login
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "Details";
}
<h1 class="darkGreenText headerCss">Moments</h1><br>
<h2 class="headerText text-center">Change password</h2>

<form class="centerBlock" action="/Logins/ChangePassword" method="post">
    <label>
        @{
            if (Request.Params["falseEmail"] == "true")
            {
                <p style="color: red">*You need to write and email adress</p>
            }
            else if (Request.Params["missingEmail"] == "true")
            {
                <p style="color: red">*We can't find your email adress amoung our users</p>
            }
        }
    </label>
            <input class="form-control centerBlock" type="text" name="email" placeholder="Email"> <br />
            <input type="submit" name="changePassword" class="btn greenButton centerBlock btn-block" value="Send email with new password">
</form>

  