@model Moments.Models.Login
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "Edit";
}

<h1 class="darkGreenText headerCss">Moments</h1><br>
<p class="editText text-center"> A new password has been sent with your email! </p>


<div>
    @Html.ActionLink("Back to Login", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
